/Debug/
/decoded.txt
/encoded.zip
/input.png
/input.txt
/cp.html
/decoded.mp3
/decoded.png
/input.jpg
/input.mp3
/input.mp4
/input2.jpg
/input2.txt
/kennedy.xls
/ptt5
/shakespeare.txt
/sum
/Examples/
/doc/
/Release/
/Doc/
